body {
    background-color: rgb(229, 228, 233);
    font: normal 15pt Arial;
}

header{
    color: rgb(135, 112, 114);
    text-align: center;
    text-align: center;
}

section {

    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.586);
}

div {
    text-align: center;
    padding: 5px;
}

footer {
    color: rgb(98, 104, 84);
    font: normal 8pt Arial;
    text-align: center;
    font-style: italic; 
}